<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
    <ul *ngFor="let x of months">
      <mat-checkbox>
        <li style="list-style:none;">{{x}}</li>
      </mat-checkbox>
    </ul>



  </mat-tab>
</mat-tab-group>
<div class="checkbox" *ngFor="let list of xyzlist">
  <label>
  <input formControlName="interestSectors" type="checkbox" value="{{list.id}}" (change)="onCheckboxChange(list,$event)">{{list.value}}</label>
</div>